.sb_cols {width: 100%;margin-bottom: 25px;}
.sb_cols .col {min-height: 1px;box-sizing: border-box;padding-left: 15px;padding-right: 15px;float: left;}
.sb_cols .col.float_left {float: left}
.sb_cols .col.float_right {float: right}

.sb_cols.same_height .col {margin-bottom: 25px;}

.sb_cols > .col:first-child {padding-left: 0;}
.sb_cols > .col:last-child {padding-right: 0;}

.sb_cols > .col .sb_picture {margin-top: 4px}

@media (max-width: 767px) {
    .sb_cols.use_media > .col {float: none; width: auto!important;margin-left: 0!important;margin-right: 0!important;padding-left: 0;padding-right: 0;}
    .sb_cols.use_media > .col.float_left, .sb_cols.use_media > .col.float_right {float: none;}
}