{% load cms_tags sekizai_tags %}
{% addtoblock 'css' %}<link rel="stylesheet" href="{{ STATIC_URL }}sb_cols/css/sb_cols.css" />{% endaddtoblock %}

<div id="sb_cols_{{ instance.id }}" class="sb_cols{% if instance.use_media %} use_media{% endif %}{% if instance.is_align_by_height %} same_height{% endif %} {{ instance.attr_class|default:'' }}">

    {% if has_no_width_col %}
        {% for plugin in instance.child_plugin_instances %}
            {% if index_no_width_col != forloop.counter %}
                <div class="col float_{% if forloop.counter == 1 %}left{% else %}right{% endif %} {{ plugin.attr_class|default:'' }}" style="width: {{ plugin.width }};">
                    {% render_plugin plugin %}
                </div>
            {% endif %}
        {% endfor %}

        {% for plugin in instance.child_plugin_instances %}
            {% if index_no_width_col == forloop.counter %}
                <div class="col {{ plugin.attr_class|default:'' }}" style="float: none;{{ margin_style }}">
                    {% render_plugin plugin %}
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
        {% for plugin in instance.child_plugin_instances %}
            <div class="col{% if instance.is_reversed %} float_right{% endif %} {{ plugin.attr_class|default:'' }}" style="width: {{ plugin.width }};">
                {% render_plugin plugin %}
            </div>
        {% endfor %}
    {% endif %}
</div>
<div class="clearfix"></div>

{% if instance.is_align_by_height %}
    {% load sb_default_urls %}
    {% addtoblock 'js' %}<script src="{% default_url 'jquery' %}"></script>{% endaddtoblock %}
    {% addtoblock 'js' %}<script src="{{ STATIC_URL }}sb_cols/js/sb_cols.js"></script>{% endaddtoblock %}

    {% addtoblock 'post_js_no_compress' %}
    <script>
        $(function() {
            $('#sb_cols_{{ instance.id }}').sb_cols();
        });
    </script>
{% endaddtoblock %}
{% endif %}